<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540433544607-01855q4kea64servmkvmbees2l4ai56n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540433544607-01855q4kea64servmkvmbees2l4ai56n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>540433544607-2th5lavu15dltc7v5g9o3ba09n28bthm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwtSFK-wMa_3pt5SfNpOcI9YoonDju5lg</string>
	<key>GCM_SENDER_ID</key>
	<string>540433544607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rusticgram.app</string>
	<key>PROJECT_ID</key>
	<string>rusticgram-e7673</string>
	<key>STORAGE_BUCKET</key>
	<string>rusticgram-e7673.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540433544607:ios:869db0879a05a1f3f179aa</string>
</dict>
</plist>